.from__wrapper {
  width: 100%;
}

.search__form {
  margin-top: 1.5rem;
  background-color: var(--color-gray-1);
  border-radius: 12px;
  padding: 1rem 2rem;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.search__field {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.doctor__icon {
  width: 33px;
  height: 33px;
  display: block;
  flex-shrink: 0;
}

.search__input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 22px;
  font-weight: 400;
  color: var(--color-gray-90);
  width: 100%;
  white-space: nowrap;

  &::placeholder {
    color: var(--color-gray-90);
    opacity: 1;
  }
}

.search__divider {
  font-size: 22px;
  user-select: none;
  color: var(--color-gray-60);
}

.search__button {
  background-color: var(--color-primary);
  color: var(--color-gray-90);
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  width: 184px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  cursor: pointer;
  transition:
    border-color 0.3s ease;

  &:hover {
    border-color: var(--color-primary--second);
  }
}
